<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>401</title>
</head>
<body>

<div style="float: left; padding-top: 100px; padding-left: 100px">
    <img src="/static/images/403-forbidden-tiny-people-standing-near-prohibited-gesture-isolated-flat-illustration_74855-11132.avif"
         width="500px" height="350px" alt="none">
</div>

<div align="center" style="padding-left: 100px; padding-top: 200px; float:left">
    <h1>[ -- ACCESS DENIED --]</h1>
    <h2>
        PLEASE LOGIN FIRST
        <div>
            <a href="/index">BACK TO LOGIN</a>
        </div>
    </h2>
</div>

</body>
</html>