<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <!--vue and element js-->
    <!--NOTE: vue.js should be imported before element.js-->
    <script src="/static/js/vue.js" type="text/javascript" charset="utf-8"></script>

    <!--axios-->
    <script src="/static/js/axios.js" type="text/javascript" charset="utf-8"></script>

    <!--element ui-->
    <script src="/static/js/element.js" type="text/javascript" charset="utf-8"></script>
    <link href="/static/css/element.css" rel="stylesheet" type="text/css">

    <link href="/static/css/main.css" rel="stylesheet" type="text/css">

    <script src="/static/js/main.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body>

<div id="app">
    <el-button @click="download">download</el-button>
</div>

<script>
    const vue = new Vue({
        el: "#app",
        methods: {
            download() {
                axios.post('/api/stocks/price/download', {
                    "symbol": "TSLA",
                    "market": "US",
                    "k_type": "D"
                }, {responseType: 'arraybuffer'})
                .then(response => {
                  if (response.data.code === 200) {
                      const contentDisposition = response.headers['content-disposition'];
                      const fileNameMatch = contentDisposition.match(/filename="(.+)"/);
                      const fileName = fileNameMatch ? fileNameMatch[1] : 'downloadedFile';

                      const blob = new Blob([response.data]);
                      const url = URL.createObjectURL(blob);

                      const link = document.createElement('a');
                      link.href = url;
                      link.download = fileName;

                      link.click();
                  } else {
                      this.$message.danger(response.data.message);
                  }
                })
                .catch(error => {
                  console.error('Error downloading file:', error);
                });
            }
        }
    });
</script>

</body>

</html>